<!-- Flight Details Page -->

<ion-view view-title="Flight Details for Multiple Destinations">
  <div class="bar bar-subheader">
    <h2 class="title">Showing {{resultLength}} Results</h2>
  </div>
  <ion-content has-subheader="true" class="has-subheader">
    <div class="list" ng-repeat="data in finalData"> 
      <div class="pkgcontainermulticity" ng-repeat="item in data">
        <div class="pkgheader">{{item.departureAirport}} to {{item.arrivalAirport}} <span style="text-align:right; float:right">Result {{$index +1}} of {{resultLength}}</span></div>
        <div class="pkgrow">
          <div class="flight-logo"><img ng-src="http://pics.avs.io/200/200/{{item.flightCode}}.png" alt="" /></div>
          <div class="flight-name">{{item.departureAirportName}} <br /><br />
            {{item.arrivalAirportName}}</div>
        </div>
        <div class="pkgaltrow">
          <div class="pkgdept">({{item.departureAirport}}) <span class="pkgdeptdate"> {{item.departureDate}}</span><br>
            <span class="departuretime">{{item.departureTime}}</span> </div>
          <div class="pkgdeptrgt">({{item.arrivalAirport}}) <span class="pkgdeptdate">{{item.arrivalDate}}</span><br>
            <span class="arrivaltimergt">{{item.arrivalTime}}</span> </div>
        </div>
        <div class="pkgrow">
          <div class="flight-number">Flight No: {{item.flightCode}}{{item.flightNumber}}<br>
Duration of Flight: {{item.elapsedTime | time: 'mm'}}
           </div>
          <div class="pkg-price">{{item.totalFare | currency}}</div>
          
        </div>
      </div>

      <button class="button button-block button-assertive" ng-click="toConfirm($index)"> Submit to see full itinerary <i class="ion-arrow-right-b"></i> </button>
    </div>
  </ion-content>
</ion-view>


