<!-- Flight Details Page -->
<ion-view view-title="Flight Details for Multiple Destinations 2">
            <ion-content has-subheader="false">
              <div class="list" ng-repeat="data in finalData">
                <div class="item item-divider" ng-click="toggleGroup(data)" class="{active:isGroupShown(data)}">
                 <i class="icon" ng-class="isGroupShown(data) ? 'ion-minus' : 'ion-plus'"></i> &nbsp;
                  Flight Itenirary Start {{$index +1}}
                </div>
                  <div ng-repeat="item in data" ng-show="isGroupShown(data)">
                    <a class="item">
                    Departure Airport: {{item.departureAirport}}</br>
                    Departure Time: {{item.departureDate}}</br>
                    Departure Date: {{item.departureTime}}
                    </a>
                    
                    <a class="item">
                    Arrival Airport: {{item.arrivalAirport}}</br>
                    Arrival Date: {{item.arrivalDate}}</br>
                    Arrival Time: {{item.arrivalTime}}
                    </a>
                    
                    <a class="item">Total Flight Time: {{item.elapsedTime | time: 'mm'}}</a>

                    <a class="item">Flight Details: {{item.flightCode}}:  {{item.flightNumber}}</a>
                    <a class="item"><img ng-src="http://pics.avs.io/200/200/{{item.flightCode}}.png"</a>
                    <div class="item item-divider">
                      Flight Route End</br>
                      Total Fare: {{item.totalFare | currency}}
                    </div>

                  </div>
                  <div class="item item-divider">
                    Flight Itenirary End {{$index +1}}

                  </div>
                  <button class="button button-block button-balanced" ng-click="toConfirm($index)">Proceed</button>
                </div>
            </ion-content>
          </ion-view>