<!-- Flight Confirmation Page -->
<ion-view view-title="Flight Confirmation">
<div class="bar bar-subheader">
  <h2 class="title">Please review the details carefully</h2>
  </div>
<ion-content has-subheader="true" class="has-subheader">
            <div class="list" ng-repeat="data in selectedFlight">
              <div class="item-divider">
                {{data.departureAirport}}-{{data.arrivalAirport}}<br>
                Time elapsed: {{data.elapsedTime | time: 'mm'}}<br>
                Total fare for full itinerary: {{data.totalFare | currency}}                                                 
              </div>
                <a class="item item-thumbnail-left item-button-right item-text-wrap">
                  <img ng-src="http://pics.avs.io/200/200/{{data.flightCode}}.png">
                  <h3>{{data.departureAirportName}}</h3>
                  <p>({{data.departureAirport}}) {{data.departureDate}}</p>
                  <h3>{{data.arrivalAirportName}}</h3>
                  <p>({{data.arrivalAirport}}) {{data.arrivalDate}}</p>
                  <h4>
                Flight: {{data.flightCode}}{{data.flightNumber}}</h4>
                </a>
                            
              </div>
              <button class="button button-block button-assertive" ng-click="toUserDetails($index)">
                  Confirm
                </button>        
            </div>
              
            </ion-content>
  <!-- <ion-content has-subheader="false">
    <div class="list" ng-repeat="data in selectedFlight">
                <div class="item item-divider" ng-click="toggleGroup(data)" class="{active:isGroupShown(data)}">
                 <i class="icon" ng-class="isGroupShown(data) ? 'ion-minus' : 'ion-plus'"></i> &nbsp;
                  Flight Itenirary Start {{$index +1}}
                </div>
                    <a class="item">
                    Departure Airport: {{data.departureAirport}}</br>
                    Departure Time: {{data.departureDate}}</br>
                    Departure Date: {{data.departureTime}}
                    </a>
                    
                    <a class="item">
                    Arrival Airport: {{data.arrivalAirport}}</br>
                    Arrival Date: {{data.arrivalDate}}</br>
                    Arrival Time: {{data.arrivalTime}}
                    </a>
                    
                    <a class="item">Total Flight Time: {{data.elapsedTime | time: 'mm'}}</a>

                    <a class="item">Flight Details: {{data.flightCode}}:  {{data.flightNumber}}</a>
                    <a class="item"><img ng-src="http://pics.avs.io/200/200/{{data.flightCode}}.png"</a>
                    <div class="item item-divider">
                      Flight Route End</br>
                      
                    </div>
                  <div class="item item-divider">
                    Flight Itenirary End<br/>
                    Total Price: {{data.totalFare | currency}}
                  </div>
          </div>
      <button class="button button-block button-balanced" ng-click="toUserDetails()">Confirm Flight</button>
  </ion-content> -->
</ion-view>