<!-- Flight Confirmation Page -->
<ion-view view-title="Flight Confirmation">
<div class="bar bar-subheader">
  <h2 class="title">Please review the details carefully</h2>
  </div>
<ion-content has-subheader="true" class="has-subheader">
            <div class="list" ng-repeat="data in selectedFlight">
            <div class="pkgcontainerconfirm">
<div class="pkgheader">({{data.departureAirport}}) to ({{data.arrivalAirport}})</div>
<div class="pkgrow">
<div class="flight-logo"><img ng-src="http://pics.avs.io/200/200/{{data.flightCode}}.png" alt="" /></div>
<div class="flight-name">{{data.departureAirportName}} <br /> <br /> 
{{data.arrivalAirportName}}</div>
</div>
<div class="pkgaltrow">
<div class="pkgdept">{{data.departureAirport}} <span class="pkgdeptdate">{{data.departureDate}}</span><br>
<span class="departuretime">{{data.departureTime}}</span>
</div>
<div class="pkgdeptrgt">{{data.arrivalAirport}} <span class="pkgdeptdate">{{data.arrivalDate}}</span><br>
<span class="arrivaltimergt">{{data.arrivalTime}}</span>
</div>
</div>
<div class="pkgrow">
<div class="flight-number">Flight No: {{data.flightCode}}{{data.flightNumber}}<br>
Duration of Flight: {{data.elapsedTime | time: 'mm'}}</div>
<div class="pkg-price">{{data.totalFare | currency}}</div>
</div>
</div>

              <button class="button button-block button-assertive" ng-click="toUserDetails($index)">
                  Confirm
                </button>        
            </div>
              
            </ion-content>
  <!-- <ion-content has-subheader="false">
    <div class="list" ng-repeat="data in selectedFlight">
                <div class="item item-divider" ng-click="toggleGroup(data)" class="{active:isGroupShown(data)}">
                 <i class="icon" ng-class="isGroupShown(data) ? 'ion-minus' : 'ion-plus'"></i> &nbsp;
                  Flight Itenirary Start {{$index +1}}
                </div>
                    <a class="item">
                    Departure Airport: {{data.departureAirport}}</br>
                    Departure Time: {{data.departureDate}}</br>
                    Departure Date: {{data.departureTime}}
                    </a>
                    
                    <a class="item">
                    Arrival Airport: {{data.arrivalAirport}}</br>
                    Arrival Date: {{data.arrivalDate}}</br>
                    Arrival Time: {{data.arrivalTime}}
                    </a>
                    
                    <a class="item">Total Flight Time: {{data.elapsedTime | time: 'mm'}}</a>

                    <a class="item">Flight Details: {{data.flightCode}}:  {{data.flightNumber}}</a>
                    <a class="item"><img ng-src="http://pics.avs.io/200/200/{{data.flightCode}}.png"</a>
                    <div class="item item-divider">
                      Flight Route End</br>
                      
                    </div>
                  <div class="item item-divider">
                    Flight Itenirary End<br/>
                    Total Price: {{data.totalFare | currency}}
                  </div>
          </div>
      <button class="button button-block button-balanced" ng-click="toUserDetails()">Confirm Flight</button>
  </ion-content> -->
</ion-view>