<!-- Hotel Details Page -->
<ion-view view-title="Hotel Details">
<div class="bar bar-subheader">
  <h2 class="title">Showing {{resultLength}} results in total</h2>
  </div>
            <ion-content has-subheader="true" class="has-subheader">
            <div class="list" ng-repeat="data in hotelData track by $index">
            Result {{$index +1}} of {{resultLength}}
              
              <div class="item-divider">
                {{data.hotelName}}<br>
                Rating: {{data.rating}}                                   
              </div>
                <a class="item item-thumbnail-left item-button-right item-text-wrap">
                  <img ng-src="{{data.hotelImage}}">
                  <h3>{{data.hotelAddress}}</h3>
                  <h3>Price range: {{data.rateRangeMin | currency}}-{{data.rateRangeMax | currency}}</h3>
                  <p>Phone Number: {{data.phoneNumber}}</p>
                  <p>Fax Number: {{data.faxNumber}}</p>
                  </a>
                <button class="button button-block button-assertive" ng-click="toConfirm($index)">
                  Submit to see full itinerary  <i class="ion-arrow-right-b"></i>
                </button>                    
              </div>
              
            </div>
              
            </ion-content>
          </ion-view>