<!-- Hotel Confirmation Page -->
<ion-view view-title="Hotel Information">
<div class="bar bar-subheader">
  <h2 class="title">Please review the details carefully</h2>
  </div>
<ion-content has-subheader="true" class="has-subheader">
  <section>
		<nav>
		<ol class="cd-multi-steps text-bottom count">
			<li class="visited"><a href="javascript:history.back()">Select</a></li>
			<li class="current"><em>Reserve</em></li>
			<li><em>Confirm</em></li>
		</ol>
	</nav>
</section>
		
           <div class="list card">

			  <div class="item item-body">
			    <img class="full-image imageheightset" ng-src="{{hotelFullDetails.hotelImageDetail}}" alt="">
                <div class="badge">{{hotelDetails.rating}}</div>
                <div class="namecontainer">
                   <div class="hotelnamelft">{{hotelDetails.hotelName}}</div>
                   <div class="hotelpricelft">Start From <span>{{hotelDetails.rateRangeMin | currency}}</span></div>
                   </div>
			    <p class="hoteldetail">
			      {{hotelFullDetails.hotelDescription}}
			    </p>
                <div id="map" data-tap-disabled="false"></div>
			  </div>
			  <div class="item item-body hotelconfirmationbg" ng-repeat="data in hotelFullDetails.roomDetails">
			  
			  	<div class="item item-text-wrap" ng-repeat="item in data track by $index">
				   <p class="roomdetail">{{item.roomDetail}}</p>
			  	<div class="item item-text-wrap" ng-repeat="item in data">
				   <p class="roomdetail"><span>Room Detail</span> <br />{{item.roomDetail}}</p>
                     <h3 class="roomprice">Per Night<br /> <span>{{item.roomPrice | currency}}</span></h3>
				       
				</div>
				<button class="button button-block button-outline button-assertive" ng-click="toUserDetails($index)">Confirm Hotel</button>
			  </div> 
			</div>
           
            </ion-content>
            </ion-view>