<!-- Login Page -->

<ion-view view-title="Login">
  <ion-content has-subheader="false">
    <ion-grid>
      <ion-row>
        <ion-col width-90>
          <div class="container"> <i class="icon login-icon"></i>
            <p>Login with your existing account</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="User Name">
      </label>
      <div class="linespace"></div>
      <label class="item item-input">
        <input type="password" placeholder="Password">
      </label>
      <button class="button button-block button-royal" ng-click="success()"> Login </button>
      <button class="button button-block button-royal" ng-click="register()"> Register </button>
    </div>
  </ion-content>
</ion-view>
