<!-- Multi City Tab -->

<ion-view view-title="Multi City" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content has-subheader="false" ng-class="whichClassToUse(call.State)">
    <form name="roundForm" novalidate>
      <div class="list" >
        <label class="item item-input item-stacked-label"> <span class="input-label">From</span>
          <input type="text" placeholder="Select departure airport" id="from0">
        </label>
        <div class="linespace"></div>
        <label class="item item-input item-stacked-label"> <span class="input-label">To</span>
          <input type="text" placeholder="Select arrival airport" id="to0">
        </label>
        <div class="linespace"></div>
        <label class="item item-input item-stacked-label"> <span class="input-label">Departure Date</span>
          <input type="date" id="departDate0">
        </label>
        <div class="linespace"></div>
         <button class="button button-block button-royal ion-ios-locked" ng-click="getFirstValue()">  Lock flight</button>
        <div class="buttonrgt item item-divider">
        <button class="button">Add / Minus Locations</button>
        <button class="button icon icon ion-plus-circled" ng-click="form1=true"></button>
        <button class="button icon icon ion-minus-circled" ng-click="form1=false"></button>  
        </div>
        <div class="linespace"></div>
        <div ng-show="form1">
          <label class="item item-input item-stacked-label"> <span class="input-label">From</span>
            <input type="text" placeholder="Select departure airport" id="from1">
          </label>
          <div class="linespace"></div>
          <label class="item item-input item-stacked-label"> <span class="input-label">To</span>
            <input type="text" placeholder="Select arrival airport" id="to1">
          </label>
          <div class="linespace"></div>
          <label class="item item-input item-stacked-label"> <span class="input-label">Departure Date</span>
            <input type="date" id="departDate1">
          </label>
          <div class="linespace"></div>
           <button class="button button-block button-royal ion-ios-locked" ng-click="getSecondValue()">  Lock flight</button>
            <div class="buttonrgt item item-divider">
        <button class="button">Add / Minus Locations</button>
        <button class="button icon icon ion-plus-circled" ng-click="form2=true"></button>
        <button class="button icon icon ion-minus-circled" ng-click="form2=false"></button>  
        </div>
    <div class="linespace"></div>
        </div>
    
        <div ng-show="form2">
          <label class="item item-input item-stacked-label"> <span class="input-label">From</span>
            <input type="text" placeholder="Select departure airport"  id="from2">
          </label>
          <div class="linespace"></div>
          <label class="item item-input item-stacked-label"> <span class="input-label">To</span>
            <input type="text" placeholder="Select arrival airport" id="to2">
          </label>
          <div class="linespace"></div>
          <label class="item item-input item-stacked-label"> <span class="input-label">Departure Date</span>
            <input type="date"  id="departDate2">
          </label>
          <div class="item item-divider">
            <button class="button button-block button-royal ion-ios-locked" ng-click="getThirdValue()">  Lock flight</button>
          </div>
        </div>
    
        <div class="row paddingoff">
          <div class="col">
            <label class="item item-input item-stacked-label"> <span class="input-label">Adults</span>
              <input type="number" placeholder="0" id="adult" value="1">
            </label>
          </div>
          <div class="col">
            <label class="item item-input item-stacked-label"> <span class="input-label">Children</span>
              <input type="number" placeholder="0">
            </label>
          </div>
          <div class="col">
            <label class="item item-input item-stacked-label"> <span class="input-label">Seniors</span>
              <input type="number" placeholder="0">
            </label>
          </div>
        </div>
        <div class="linespace"></div>
        <label class="item item-input item-select">
        <div class="input-label"> Preffered Flight </div>
        <select id="airlineCode">
          <option> </option>
          <option ng-repeat="names in airlineName | orderBy">{{names}}</option>
        </select>
        </label>
        <div class="linespace"></div>
        <a class="button button-block button-royal"  ng-click="flightDetailsMulti()" ng-disabled="roundForm.$invalid"> Proceed </a></div>
    </form>
  </ion-content>
  <ion-tabs class="tabs-icon-top tabs-striped">
    <ion-tab title="Round Trip" icon-on="ion-paper-airplane" icon-off="ion-paper-airplane" ui-sref="menu.round"> </ion-tab>
    <ion-tab title="Single Trip" icon-on="ion-android-plane" icon-off="ion-android-plane" ui-sref="menu.single"> </ion-tab>
    <ion-tab title="Mutli City" icon-on="ion-planet" icon-off="ion-planet" ui-sref="menu.multicity"> </ion-tab>
  </ion-tabs>
</ion-view>
