<!-- Registration Page -->
<ion-view view-title="Register">
      <ion-content has-subheader="false">
       <ion-grid>
      <ion-row>
        <ion-col width-90>
          <div class="container"> <i class="icon login-icon"></i>
            <p>Login with your existing account</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Full Name">
          </label>
          <div class="linespace"></div>
          <label class="item item-input">
            <input type="email" placeholder="Email">
          </label>
          <div class="linespace"></div>
          <label class="item item-input">
            <input type="password" placeholder="Password">
          </label>
          <div class="linespace"></div>
          <label class="item item-input">
            <input type="password" placeholder="Confirm Password">
          </label>
           <button class="button button-block button-royal">
            Register
        </button>
        </div>
       
        </ion-content>
      </ion-view>