<!-- Round Trip Tab -->
  <ion-view title="Flights Booking" hide-back-button="true">
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

      <ion-content has-subheader="false" ng-class="whichClassToUse(call.State)">
              <form name="roundForm" novalidate>
              <div class="list">
              
                <label class="item item-input item-stacked-label">
                  <span class="input-label">From</span>
                  <input type="text" placeholder="Select departure airport" id="from" name="from" ng-model="from" required>
                </label>
                 <div class="linespace"></div>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">To</span>
                  <input type="text" placeholder="Select arrival airport" id="to" name="to" ng-model="to" required>
                </label>
                 <div class="linespace"></div>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Departure Date</span>
                  <input type="date" id="departDate" name="departDate" ng-model="departDate" required>
                </label>
                 <div class="linespace"></div>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Arrival Date</span>
                  <input type="date" id="arrDate" name="arrDate" ng-model="arrDate" required>
                </label>
 <div class="linespace"></div>
                <div class="row paddingoff">
                  <div class="col">
                    <label class="item item-input item-stacked-label">
                      <span class="input-label">Adults</span>
                      <input type="number" placeholder="0" id="adult" value="1">
                    </label>
                  </div>
                  <div class="col">
                    <label class="item item-input item-stacked-label">
                      <span class="input-label">Children</span>
                      <input type="number" placeholder="0" id="child">
                    </label>
                  </div>
                  <div class="col">
                    <label class="item item-input item-stacked-label">
                      <span class="input-label">Seniors</span>
                      <input type="number" placeholder="0" id="senior">
                    </label>
                  </div>
                </div>
                 <div class="linespace"></div>
                <label class="item item-input item-select">
                  <div class="input-label">
                    Preffered Flight
                  </div>
                  <select id="airlineCode">
                    <option>None</option>
                    <option ng-repeat="names in airlineName | orderBy" >{{names}}</option>
                  </select>
                </label>
             <div class="linespace"></div>
              <a class="button button-block button-royal" ng-click="flightDetails()" >
                Proceed <!-- ng-disabled="roundForm.$invalid" -->
              </a> </div>
              <div class="padding">
                <p ng-show="roundForm.from.$error.required && roundForm.from.$dirty && roundForm.from.$touched">*Departure destination required</p>
                <p ng-show="roundForm.to.$error.required && roundForm.to.$dirty && roundForm.to.$touched">*Arrival destination required</p>
                <p ng-show="roundForm.departDate.$error.required && roundForm.departDate.$dirty && roundForm.departDate.$touched">*Departure date required</p>
                <p ng-show="roundForm.arrDate.$error.required && roundForm.arrDate.$dirty && roundForm.arrDate.$touched">*Arrival date required</p>
              </div>
              </form>
            </ion-content>

      <ion-tabs class="tabs-icon-top tabs-striped">
      <ion-tab title="Round Trip" icon-on="ion-paper-airplane" icon-off="ion-paper-airplane" ui-sref="menu.round">
      </ion-tab>

      <ion-tab title="Single Trip" icon-on="ion-android-plane" icon-off="ion-android-plane" ui-sref="menu.single">
      </ion-tab>

      <ion-tab title="Mutli City" icon-on="ion-planet" icon-off="ion-planet" ui-sref="menu.multicity">
      </ion-tab>
    </ion-tabs>
    </ion-view>
