@import url("steps.css");

.pull-right {
	float: right;
}
.button-halfwidth {
	width: 49%;
}
.button-fullwidth {
	width: 100%;
}
.container {
	background: #13314d;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	padding-top: 100px;
	padding-bottom: 100px;
	border-top: 5px solid #e52029;
}
.banner {
	width: auto;
	height: 251px;
	position: relative;
}
.login-icon {
	font-size: 150px;
	background: url(../images/logo.png) no-repeat center center;
	width: 104px;
	height: 100px;
	position: relative;
	display: block;
	text-align: center;
	margin: 0 auto;
}
.button-royal, .button.button-assertive {
	background: #fff!important;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
	border: 1px solid #e52029!important;
	font-weight: bold;
	color: #e52029!important;
}
.button-royal:hover, .button.button-assertive:hover {
	background: #13314d!important
}
.login-button {
	background: #e52029!important;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
	color: #fff!important;
}
.login-button:hover {
	background: #13314d!important
}
.list {
	padding: 10px;
}
.linespace {
	padding: 10px
}
.item {
	border-radius: 5px
}
.bar.bar-dark {
	border-color: #13314d;
	background-color: #13314d;
	background-image: linear-gradient(0deg, #13314d, #13314d 50%, transparent 50%);
	color: #fff;
}
.buttonholder {
	position: relative;
}
.flightbutton:before {
	content: "";
	background: url(../images/flight.png) center left;
	width: 99px;
	height: 44px;
	position: absolute;
	left: 10px;
	display: inline-block;
	top: 30%
}
.flightbutton {
	background-color: #d71d24;
	width: 100%;
	height: 110px;
	display: block;
	margin: 0px;
	color: #fff;
	text-decoration: none;
	font-size: 33px;
	text-align: center;
	font-weight: normal;
	padding: 50px 0 0 60px;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}
.flightbutton:hover {
	/*opacity: 0.9;
	filter: alpha(opacity=90);*/
	background: #13314d;
}
.flightbutton:after {
	content: "";
	background: url(../images/right-arrow.png) center right;
	width: 20px;
	height: 38px;
	position: absolute;
	right: 10px;
	display: inline-block;
	top: 30%
}
.hotelbutton:before {
	content: "";
	background: url(../images/hotel.png) center left;
	width: 95px;
	height: 58px;
	position: absolute;
	left: 10px;
	display: inline-block;
	top: 30%
}
.hotelbutton {
	background-color: #813162;
	width: 100%;
	height: 110px;
	display: block;
	margin: 0px;
	color: #fff;
	text-decoration: none;
	font-size: 33px;
	text-align: center;
	font-weight: normal;
	padding: 50px 0 0 60px;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}
.hotelbutton:hover {
	background: #13314d;
}
.hotelbutton:after {
	content: "";
	background: url(../images/right-arrow.png) center right;
	width: 20px;
	height: 38px;
	position: absolute;
	right: 10px;
	display: inline-block;
	top: 30%
}
.carbutton:before {
	content: "";
	background: url(../images/car.png) center left;
	width: 95px;
	height: 69px;
	position: absolute;
	left: 10px;
	display: inline-block;
	top: 30%
}
.carbutton {
	background-color: #f7be3d;
	width: 100%;
	height: 110px;
	display: block;
	margin: 0px;
	color: #fff;
	text-decoration: none;
	font-size: 33px;
	text-align: center;
	font-weight: normal;
	padding: 50px 0 0 60px;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}
.carbutton:hover {
	background: #13314d;
}
.carbutton:after {
	content: "";
	background: url(../images/right-arrow.png) center right;
	width: 20px;
	height: 38px;
	position: absolute;
	right: 10px;
	display: inline-block;
	top: 30%
}
.bar-assertive {
	background: #13314d!important;
	text-align: center!important
}
.menubg {
	background: #13314d!important;
}
.menuitem ul {
	list-style: none!important
}
.menuitem ul li {
	padding: 10px!important
}
.menuitem a {
	text-decoration: none!important;
	color: #fff!important;
	background: #13314d!important;
	border-radius: 0px!important;
	border-color: #2b465f!important;
}
a.menuitem:hover {
	background: #ef0d16!important
}
.banner-1 {
	background: url(../images/Banner.png) no-repeat center center;
	height: 251px;
}
.banner-2 {
	background: url(../images/hotel-banner.png) no-repeat center center;
	height: 251px;
}
.banner-3 {
	background: url(../images/car-banner.png) no-repeat center center;
	height: 251px;
}
.paddingoff {
	padding: 0px!important
}
.tab-item .icon {
	color: #13314d
}
.tabs-striped .tab-item.tab-item-active {
	border-color: #13314d!important
}
.home-icon {
	background: url(../images/home-icon.png) no-repeat 10% 100%;
	width: 25px;
	height: 21px;
	display: inline-block;
	padding-left: 35px;
}
.flight-icon {
	background: url(../images/flight-icon.png) no-repeat 10% 100%;
	width: 25px;
	height: 21px;
	display: inline-block;
	padding-left: 35px;
}
.hotel-icon {
	background: url(../images/Hotel-icon.png) no-repeat 10% 100%;
	width: 25px;
	height: 21px;
	display: inline-block;
	padding-left: 35px;
}
.car-icon {
	background: url(../images/car-icon.png) no-repeat 10% 100%;
	width: 25px;
	height: 21px;
	display: inline-block;
	padding-left: 35px;
}
.profile-icon {
	background: url(../images/profile-icon.png) no-repeat;
	width: 25px;
	height: 21px;
	display: inline-block;
	padding-left: 35px;
}
.about-icon {
	background: url(../images/about-icon.png) no-repeat 10% 100%;
	width: 25px;
	height: 21px;
	display: inline-block;
	padding-left: 35px;
}
.logout-icon {
	background: url(../images/logout-icon.png) no-repeat 15% 100%;
	width: 25px;
	height: 21px;
	display: inline-block;
	padding-left: 35px;
}
.detail-header {
	border-radius: 0px;
}
/*.pkgcontainer:nth-child(1) {
	width: 100%;
	float: left;
	box-sizing: border-box;
	display: block;
}
.pkgcontainer {
	display: none;
}
*/
.displayoff {
	display: none!important
}
.pkgcontainer {
	width: 100%;
	float: left;
	box-sizing: border-box;
	display: block;
}
.pkgcontainerconfirm {
	width: 100%;
	float: left;
	box-sizing: border-box;
}
.pkgcontainermulticity {
	width: 100%;
	float: left;
	box-sizing: border-box;
}
.pkgheader {
	background: #e6e4e4;
	height: 40px;
	color: #13314d;
	border-radius: 10px 10px 0px 0px;
	padding: 10px;
	font-size: 16px;
}
.pkgrow {
	background: #fff;
	float: left;
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
	border-top: 1px solid #efefef;
}
.pkgaltrow {
	background: #f5f5f5;
	float: left;
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
}
.pkgbtmbdr {
	border-bottom: 5px solid #efefef;
}
.pkgdept {
	display: inline-block;
	float: left;
	box-sizing: content-box;
	padding-right: 20px;
	text-align: center
}
.pkgdeptrgt {
	display: inline-block;
	float: right;
	box-sizing: content-box;
	padding-right: 20px;
	text-align: center
}
.pkgdeptdate {
	color: #a4a4a4;
	font-size: 14px
}
.departuretime {
	color: #58c72c;
	display: block;
	font-size: 30px;
	padding-top: 15px;
}
.arrivaltimergt {
	color: #13314d;
	display: block;
	font-size: 30px;
	padding-top: 15px;
}
.flight-logo {
	float: left;
	padding-right: 20px;
	text-align: center;
	display: block;
}
.flight-logo img {
	width: 100px!important;
}
.flight-name {
	text-align: left;
	padding: 15px 0px;
}
.flight-number {
	text-align: left;
	padding: 15px 0px;
	float: left;
}
.pkg-price {
	text-align: right;
	padding: 15px 0px;
	float: right;
	color: #e52029;
	font-size: 26px;
}
.ion-plus-circled, .ion-minus-circled {
	font-size: 36px;
}
.buttonrgt {
	text-align: right;
	padding-top: 4px!important;
	padding-bottom: 4px!important;
}

/*Price Tag*/

.event {
  height: 80px;
  background: #fff;
  border: 1px solid #CCC;
  border-radius: 2px;
  margin: 25px;
  border-radius:5px;
}
.event:before {
  content: '';
  display: block;
  width: 99%;
  height: 70px;
  background: #fff;
  border: 1px solid #CCC;
  border-radius: 2px; 
  transform: rotate(2deg);
  position: relative;
  top: 12px;
  left: 2px;
  z-index: -1;
  border-radius:5px;
}
.event:after {
  content: '';
  display: block;
  width: 40%;
  height: 75px;
  background: #fff;
  border: 1px solid #CCC;
  border-radius: 2px; 
  transform: rotate(-2deg);
  position: relative;
  top: -136px;
  z-index: -2;  
  border-radius:5px;
}
.event > span {
  display: block;
  width: 40px;
  background: #232323;  
  position: relative;
  top: -55px;
  left: -15px; 
  /* Text */
  color: #fff;
  font-size: 10px;
  padding: 2px 7px;
  text-align: right;
}
.event > .info {
  display: inline-block;
  position: relative;
  top: -85px;
  left: 40px;
  
  /* Text */
  color: #232323;
  font-weight: 600;
  line-height: 25px;
}
.event > .info:first-line {
  text-transform: uppercase;
  font-size: 10px;
  margin: 10px 0 0 0;
  font-weight: 700;
}
.event > .price {
  display: inline-block;
  position: relative;
  top: -85px;
  left: 115px; 
  
  /* Text */
  color: #E35354;
  text-align: center;
font-size:22px;
}

/*Eof Price Tag*/
